.shotView {
    height: 100px;
    width: 400px;
}

.shotView #shotPreview {
    height: 100%;
    float: left;
}

.shotView #shotPreview img {
    height: 100%;
}

.shotView #buttons {
    float: left;
}

.shotView #data {
    float: left;
    width: 150px;
}
