body {
    font-family: sans-serif;
    background-image: url(/exavideo.png);
    background-attachment: fixed;
    background-position: bottom right;
    background-repeat: no-repeat;
    min-width: 1920px;
}

#timelines img {
    width: 120px;
    height: 67px;
}

.timeline {
    padding: 2px;
}
