<html>
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
        <script src="jquery.fileupload.js"></script>
        <script>
            $(document).ready(function() {
                $('#upload_graphic').fileupload({
                    type : 'PUT',
                    url : '/key',
                    dropZone : null,
                    multipart : false
                });

                $('#dissolve_in').click(function() {
                    $.ajax(
                        '/dissolve_in/' + $('#frames').val(),
                        { type : 'post' }
                    );
                });

                $('#dissolve_out').click(function() {
                    $.ajax(
                        '/dissolve_out/' + $('#frames').val(),
                        { type : 'post' }
                    );
                });
            });
        </script>
    </head>
    <body>
        <h1>Exavideo LLC High-Tech SVG Keyer Interface</h1>
        <p><form id="upload_graphic">
            <input type="file" />
        </form></p>
        <p>
            <input type="text" id="frames" />
            <button id="dissolve_in">Dissolve In</button>
            <button id="dissolve_out">Dissolve Out</button>
        </p>
    </body>
</html>
